<a href="https://colab.research.google.com/github/huwiwi/python/blob/main/Latihan1Kastara.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

hello

In [ ]:
print("fajar")

fajar

In [ ]:
print("19")

19

In [ ]:
print("ok")

ok

In [ ]:
print("malang")
print("55674")

malang
55674

In [ ]:
nama="Nama Mu"
jenis_kelamin='L/P'
usia=30;
tinggi=175.5
sudah_menikah=False

print("Tipe data dari nama :", type(nama))
print("Tipe data dari usia:", type(usia))
print("Tipe data dari tinggi :", type(tinggi))
print("Tipe data dari sudah_menikah :", type(sudah_menikah))

usia_dua_tahun_lagi=usia+2
tinggi_cm=tinggi*100
pesan="Hallo, saya"+nama

print("Usia dua tahun lagi :", usia_dua_tahun_lagi)
print("Tinggi dalama cm :", tinggi_cm)
print(pesan)

Tipe data dari nama : <class 'str'>
Tipe data dari usia: <class 'int'>
Tipe data dari tinggi : <class 'float'>
Tipe data dari sudah_menikah : <class 'bool'>
Usia dua tahun lagi : 32
Tinggi dalama cm : 17550.0
Hallo, sayaNama Mu

In [ ]:
usia=31
tinggi=151.5
mahasiswa=False

angka1=10
angka2=5

jumlah=angka1+angka2
kurang=angka1-angka2
kali=angka1*angka2
bagi=angka1/angka2

teks1="Halo"
teks2="Dunia"
sambutan=teks1+teks2

print("Usia = ", usia)
print("Tinggi = ", tinggi)
print("Jumlah = ", jumlah)
print("Kurang = ", kurang)
print("Kali = ", kali)
print("Bagi = ", bagi)
print("Sambutan = ", sambutan)

Usia =  31
Tinggi =  151.5
Jumlah =  15
Kurang =  5
Kali =  50
Bagi =  2.0
Sambutan =  HaloDunia

In [ ]:
list_kosong=[]
list_buah=['Pisang', 'Nana', 'Melon','Durian']
list_nilai=[80, 70, 90, 60]
list_jawaban=[150, 33.33, 'Presiden Sukarno', False]

print('List kosong', list_kosong)
print('List buah', list_buah)
print('List nilai', list_nilai)
print('list_jawaban', list_jawaban)

print(list_buah[0])
print(list_buah[1])
print(list_buah[2])
print(list_buah[3])

List kosong []
List buah ['Pisang', 'Nana', 'Melon', 'Durian']
List nilai [80, 70, 90, 60]
list_jawaban [150, 33.33, 'Presiden Sukarno', False]
Pisang
Nana
Melon
Durian